@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light & dark CSS variables */
:root {
  --background-light: #ffffff;
  --foreground-light: #000000;
  --background-dark: #0a0a0a;
  --foreground-dark: #ededed;
  --foreground33-light: rgba(0,0,0,0.2);
  --foreground33-dark: rgba(237,237,237,0.2);

  /* default (light) */
  --background: var(--background-light);
  --foreground: var(--foreground-light);
  --foreground33: var(--foreground33-light);
}

html.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  --foreground33: var(--foreground33-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
